.info-block-header {
    min-height: 56px;
    background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
    color: #eeedec;
    text-shadow: 0px 1px 0px #666565;
    border-radius: 4px 4px 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    padding-left: 42px;
    word-wrap: break-word;
}

.info-block-content {
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: #f5f4f3;
    padding: 35px 43px;
}

.avatar {
    border-radius: 50%;
    box-shadow: 3px 2px 26.88px 5.12px rgba(236, 232, 227, 0.75);
}

.image-frame {
    width: 154px;
    height: 154px;
    background: #f6f5f5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    line-height: 152px;
}

.image-wrapper {
    overflow: hidden;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.info-box {
    display: inline-block;
    width: 360px;
    vertical-align: top;
}

.image-box {
    display: inline-block;
    width: 155px;
    vertical-align: top;
    margin-right: 23px;
}

.info-block-content {
    margin-bottom: 35px;
    border-radius: 0 0 3px 3px;
}

.info-box-content {
    margin-top: 0;
    margin-bottom: 11px;
}

.info-type {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    font-weight: 600;
}

.tags-block-name {
    display: inline-block;
    vertical-align: top;
    width: 161px;
}

.tags-blcok-content {
    display: inline-block;
    vertical-align: top;
    width: 194px;
}

.tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 15px;
}

.tag {
    font-size: 9px;
    text-transform: uppercase;
    padding: 3px 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #1e7465;
    font-weight: 600;
    display: inline-block;
    border-left: 0;
    position: relative;
    margin: 0 10px 10px 0;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
}

.dot {
    background-image: url(../img/tag-before.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -7px;
    height: 18px;
    width: 9px;
}

.info-items-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.info-list-item {
    background: url(../img/case.png) 10px center no-repeat;
    padding-left: 97px;
    min-height: 55px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #dbdbda;
}

.info-list-fist {
    border-top: 0;
}

.description {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.where,
.period {
    display: block;
}

.school {
    background: url(../img/school.png) 10px center no-repeat;
}

.university {
    background: url(../img/university.png) 10px center no-repeat;
}

.courses {
    background: url(../img/diploma.png) 10px center no-repeat;
}