.header {
    width: 100%;
    min-width: 1400px;
    height: 90px;
    background-color: #727070;
    border-bottom: 7px solid white;
    box-shadow: 0px 1px 10px 0.00px rgba(0, 0, 0, 0.4);
    margin-bottom: 36px;
}

.header-container {
    width: 1200px;
    /*	min-width: 1200px;*/
    margin: auto;
    height: 100%;
    position: relative;
}

.header-container:after {
    display: block;
    content: url(../img/header-after.png);
    position: absolute;
    top: 92px;
}

.logo {
    position: absolute;
    left: 0;
    top: 10px;
}

.logo-text {
    position: absolute;
    top: 0;
    text-indent: -9999px;
}

.socials {
    position: absolute;
    top: 25px;
    right: 0px;
    padding: 0;
    margin: 0;
}

.socials-item {
    display: inline-block;
}