.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Angular {
    width: 72px;
    height: 25px;
    background-position: -5px -5px;
}

.sprite-Javascript {
    width: 81px;
    height: 25px;
    background-position: -87px -5px;
}

.sprite-XML {
    width: 47px;
    height: 25px;
    background-position: -178px -5px;
}

.sprite-alert-close {
    width: 11px;
    height: 11px;
    background-position: -235px -5px;
}

.sprite-cansel {
    width: 45px;
    height: 32px;
    background-position: -5px -40px;
}

.sprite-cansel-white {
    width: 45px;
    height: 33px;
    background-position: -60px -40px;
}

.sprite-case {
    width: 54px;
    height: 55px;
    background-position: -115px -40px;
}

.sprite-checkmark {
    width: 10px;
    height: 8px;
    background-position: -256px -5px;
}

.sprite-css {
    width: 44px;
    height: 25px;
    background-position: -179px -40px;
}

.sprite-diploma {
    width: 54px;
    height: 55px;
    background-position: -179px -75px;
}

.sprite-email {
    width: 17px;
    height: 13px;
    background-position: -256px -23px;
}

.sprite-error-close {
    width: 11px;
    height: 11px;
    background-position: -233px -46px;
}

.sprite-fb {
    width: 42px;
    height: 44px;
    background-position: -5px -140px;
}

.sprite-fb:hover {
    background-position: -57px -140px;
}

.sprite-form-email {
    width: 23px;
    height: 17px;
    background-position: -243px -67px;
}

.sprite-form-key {
    width: 22px;
    height: 20px;
    background-position: -5px -94px;
}

.sprite-form-line {
    width: 11px;
    height: 40px;
    background-position: -243px -94px;
}

.sprite-git {
    width: 42px;
    height: 44px;
    background-position: -109px -140px;
}

.sprite-git:hover {
    background-position: -161px -140px;
}

.sprite-github {
    width: 43px;
    height: 25px;
    background-position: -37px -94px;
}

.sprite-graguete {
    width: 54px;
    height: 55px;
    background-position: -213px -144px;
}

.sprite-gulp {
    width: 52px;
    height: 25px;
    background-position: -5px -209px;
}

.sprite-html {
    width: 53px;
    height: 25px;
    background-position: -67px -209px;
}

.sprite-icloud {
    width: 26px;
    height: 18px;
    background-position: -130px -209px;
}

.sprite-line {
    width: 10px;
    height: 38px;
    background-position: -264px -94px;
}

.sprite-phone {
    width: 17px;
    height: 22px;
    background-position: -166px -209px;
}

.sprite-php {
    width: 46px;
    height: 25px;
    background-position: -193px -209px;
}

.sprite-pic {
    width: 54px;
    height: 55px;
    background-position: -283px -5px;
}

.sprite-school {
    width: 54px;
    height: 55px;
    background-position: -284px -70px;
}

.sprite-tooltip {
    width: 104px;
    height: 32px;
    background-position: -5px -244px;
}

.sprite-tw {
    width: 42px;
    height: 44px;
    background-position: -284px -135px;
}

.sprite-tw:hover {
    background-position: -277px -189px;
}

.sprite-vk {
    width: 42px;
    height: 44px;
    background-position: -130px -243px;
}

.sprite-vk:hover {
    background-position: -249px -243px;
}
